/* CSS style for odin recipes. */
.page {
    text-align:center;    
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: large;
}
.home.page {
    background-color:rgb(225, 127, 88);
}
.chicken.page{
    background-color:rgb(163, 47, 47);
}
.fettucine.page {
    background-color:rgba(190, 165, 21, 0.829);
}
.toscana.page {
    background-color: rgb(0, 179, 255);
}
.header {
    font-size: xx-large;
    font-weight:800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.subheader.font{
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
.recipe.description {
    text-align: left;
}
.list {
    display: inline-block;
    text-align:left
}

.home-link {
    text-align: left;
}

